  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  header.bck1{
<<<<<<< HEAD
  	background-image: url("img/logo.png");
  	height: 205px;
  }

=======
  	background-image: url("background1.jpg");
  	height: 205px;
  }
>>>>>>> bc121927482587fd78324a7d74e98ece4e3e4275
