  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  header.bck1{
  	background-image: url("img/logo.png");
  	height: 200px;
   /* background-size: cover;*/
    background-repeat: no-repeat;
  }

  #contenido{
    background-color: white;
    height: auto;
  }
  
  #navleft{
    background: #424242;
    height: auto;
  }